body {
    margin: 0;
}

.Navbar {
    height: 100px;
    background: rgb(13, 104, 66);
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}